.duration_input {
  all:unset;
  width: 90px;
  border: 2px solid var(--gray-light);
  border-radius: 4px;
  padding: 8px 15px;
  box-sizing: border-box;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  vertical-align: center;
}

.duration_input::placeholder {
  vertical-align: center;
  font-weight: 400;
  font-size: 16px;
}

.message_field {
  all: unset;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid var(--gray-light);
  border-radius: 10px;
  padding: 10px 15px;
}

.message_field:focus, .duration_input:focus {
  border: 2px solid var(--gray-dark);
}