:root {
  --primary-main: #F25A2C;
  --primary-light: #FFE7DF;
  --secondary-main: "#039800";
  --dark: #181F29;
  --gray-light: #dddddd;
  --gray-dark: #999999;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}